
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
h1 {
    color: #ec7744;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  
  html, body {
    background-color: #201d30;
    justify-content: center;
    display: flex;
    background-image: url("https://images8.alphacoders.com/829/thumb-1920-829519.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 450px;
  }
  
  .container ul {
    width: 500px;
    border: #8edf5f 10px solid;
    background-color: #995cd0;
  }
  
  .container li {
    background-color: #995cd0;
  }
  
  #button-addon2 {
    background-color: #5549b7;
    color: #ec7744;
  }
  
  #inputG {
    color: #ec7744;
    background-color: #5549b7;
  }
  
  #group {
    border: #8edf5f 5px solid;
    border-radius: 15px;
  }
  
  .list-group-item {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
  }
  
  .list-group-item span {
    margin-left: 5px; 
    cursor: pointer; 
  }


  .list-group-item .right-icons {
    margin-left: auto; /* Empuja los iconos hacia el extremo derecho */
    display: flex;
    justify-content: space-between; /* Para asegurarse que haya espacio entre los iconos */
    align-items: center;
  }
  
  .clear {
    display: flex; /* Hacemos que el contenedor del botón sea un contenedor flex */
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 20px; /* Añadimos un pequeño margen superior si es necesario */
    
  }
  
  .clear .btn {
    background-color: #ec7744;
    color: #8edf5f;
    padding: 10px 20px; /* Ajusta el padding según el tamaño que desees */
    border-radius: 5px; /* Añade bordes redondeados si lo deseas */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer;
    font-size: 25px;
  }
  
  .clear .btn:hover {
    background-color: #8edf5f; /* Cambiar el color de fondo al pasar el mouse */
    color: #ec7744; /* Cambiar el color de la letra al pasar el mouse */
  }
  